## Data Pre-processing

This notebook explains the different data pre-processing techniques applied to the Melbourne housing dataset.

### 1. Import Pandas and Numpy

In [1]:
# Importing libraries 

import pandas as pd
import numpy as np

### 2. Reading a CSV File
The `read_csv` function of the pandas library is used read the content of a CSV file into the python environment as a pandas DataFrame.
The function can read the files from the OS by using proper path to the file.

In [2]:
df = pd.read_csv('Melbourne_housing_FULL.csv')

In [3]:
# Displaying first five records of datset

df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03-09-2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03-12-2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04-02-2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04-02-2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04-03-2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [4]:
# Displays dimension of the dataset i.e no. of rows and columns

df.shape

(34857, 21)

### df.info() :
Gives a summary of the dataframe, displaying number of non-null values and the datatype of each attribute, where 'object' denotes categorical type(non-numeric) and int64/float64 denotes numeric type

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [6]:
# Describe the dataset

df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

### Cleaning / Filling Missing Data
Pandas provides various methods for cleaning the missing values. <br/>
The fillna function can “fill in” NA values with non-null data in a couple of ways
- Replace NaN with a Scalar Value
- Replacing "NaN" with "0".

In [7]:
# Check for null values

df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [8]:
# Slicing for first 20 rows for the column named 'Method'.

df[0:20]['Method']

0     SS
1      S
2      S
3     VB
4     SP
5     PI
6     VB
7     SN
8      S
9      S
10     S
11     S
12    PI
13     W
14     S
15     S
16     S
17     S
18     S
19     S
Name: Method, dtype: object

### `.loc()` method is used for multi-axes indexing

In [9]:
# Displaying first 10 records of attributes 'Distane' and 'Price'

df.loc[0:10,['Distance','Price']]

    Distance      Price
0        2.5        NaN
1        2.5  1480000.0
2        2.5  1035000.0
3        2.5        NaN
4        2.5  1465000.0
5        2.5   850000.0
6        2.5  1600000.0
7        2.5        NaN
8        2.5        NaN
9        2.5        NaN
10       2.5   941000.0

In [10]:
# Count no. of unique values in the column 'Method'

df['Method'].value_counts()

S     19744
SP     5095
PI     4850
VB     3108
SN     1317
PN      308
SA      226
W       173
SS       36
Name: Method, dtype: int64

- S - property sold
- SP - property sold prior
- PI - property passed in
- PN - sold prior not disclosed
- SN - sold not disclosed
- NB - no bid
- VB - vendor bid
- W - withdrawn prior to auction
- SA - sold after auction
- SS - sold after auction price not disclosed
- N/A - price or highest bid not available

### 3. Pre-processing attributes having null values

To find and fill the missing data in the dataset 
#### There are 5 ways to find the null values if present in the dataset
1. `isnull()` — provides the boolean value for the complete dataset to know if any null value is present or not
2. `isna()` — same as the isnull() function, provides the same output
3. `isna().any()` — gives a boolean value if any null value is present or not, but it gives results column-wise, not in tabular format
4. `isna().sum()` — gives the sum of the null values preset in the dataset column-wise
5. `isna().any().sum()` — gives output in a single value if any null is present or not

In [11]:
#separate the numeric columns from the categorical columns

# select numerical columns
data_numeric = df.select_dtypes(include=[np.number])
numeric_cols = data_numeric.columns.values
# select non-numeric columns
data_non_numeric = df.select_dtypes(exclude=[np.number])
non_numeric_cols = data_non_numeric.columns.values

In [12]:
numeric_cols

array(['Rooms', 'Price', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom',
       'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'Lattitude',
       'Longtitude', 'Propertycount'], dtype=object)

In [13]:
non_numeric_cols

array(['Suburb', 'Address', 'Type', 'Method', 'SellerG', 'Date',
       'CouncilArea', 'Regionname'], dtype=object)

In [14]:
# Printing contents of attribute 'Price'

df['Price']

0              NaN
1        1480000.0
2        1035000.0
3              NaN
4        1465000.0
           ...
34852    1480000.0
34853     888000.0
34854     705000.0
34855    1140000.0
34856    1020000.0
Name: Price, Length: 34857, dtype: float64

### Imputing techniquess
1. `fillna` — filling in null values based on given value (mean, median, mode, or specified value)
2. `bfill` / `ffill` — stands for backward fill and forward fill (filling in missing values based on the value after or before the column.)
3. **Simple Imputer** — Sklearn’s built-in function that imputes missing values (commonly used alongside a pipeline when building ML models)

In [15]:
# Mean and Median of values in column 'Price'

print(f"Median : {df['Price'].median()}")
print(f"Mean : {df['Price'].mean()}")

Median : 870000.0
Mean : 1050173.344955408

In [16]:
# All occurrences of missing_values are imputed by mean Price

from sklearn.impute import SimpleImputer

price_imputer = SimpleImputer(missing_values = np.nan, strategy='median')

df[['Price']] = price_imputer.fit_transform(df[['Price']])
df['Price'].head(10)

0     870000.0
1    1480000.0
2    1035000.0
3     870000.0
4    1465000.0
5     850000.0
6    1600000.0
7     870000.0
8     870000.0
9     870000.0
Name: Price, dtype: float64

In [17]:
# Checking null values of attribute 'Distance'

df['Distance'].isnull().sum()

1

In [18]:
df['Distance'].mean()

11.18492942391554

In [19]:
# Filling null values of attribute 'Distane' using mean 

distance_mean = round(df['Distance'].mean(),1)
df['Distance'].fillna(distance_mean, inplace = True)

In [20]:
# Checking null values of attribute 'Postcode'

df['Postcode'].isnull().sum()

1

In [21]:
# Counting unique postcodes in column 'Postcode'

df['Postcode'].value_counts()

3073.0    844
3046.0    638
3020.0    617
3121.0    612
3165.0    583
         ...
3428.0      1
3770.0      1
3786.0      1
3139.0      1
3159.0      1
Name: Postcode, Length: 211, dtype: int64

In [22]:
df['Postcode'].median()

3103.0

In [23]:
# fillna() replaces null values of attribute 'Postcode' by median

postcode_median = round(df['Postcode'].median())
df['Postcode'].fillna(postcode_median, inplace = True)

In [24]:
# value_counts() finds the unique no. of bedroom counts

df['Bedroom2'].value_counts()

3.0     11881
4.0      6348
2.0      5777
5.0      1427
1.0       966
6.0       168
7.0        30
0.0        17
8.0        13
9.0         5
10.0        4
30.0        1
20.0        1
16.0        1
12.0        1
Name: Bedroom2, dtype: int64

In [25]:
# Checking null values in column 'Bedroom2'

df['Bedroom2'].isnull().sum()

8217

In [26]:
# Displaying first 20 values of attribute 'Bedroom2'

print("Bedrooms with NULL values")
df['Bedroom2'].head(20)

Bedrooms with NULL values

0     2.0
1     2.0
2     2.0
3     3.0
4     3.0
5     3.0
6     3.0
7     3.0
8     4.0
9     3.0
10    2.0
11    4.0
12    2.0
13    6.0
14    2.0
15    NaN
16    NaN
17    1.0
18    3.0
19    NaN
Name: Bedroom2, dtype: float64

In [27]:
# Null values of Bedroom replaced by 0

df['Bedroom2'].fillna(0, inplace= True)
print("Bedrooms after replacing NULL values")
df['Bedroom2'].head(20)

Bedrooms after replacing NULL values

0     2.0
1     2.0
2     2.0
3     3.0
4     3.0
5     3.0
6     3.0
7     3.0
8     4.0
9     3.0
10    2.0
11    4.0
12    2.0
13    6.0
14    2.0
15    0.0
16    0.0
17    1.0
18    3.0
19    0.0
Name: Bedroom2, dtype: float64

In [28]:
# Checking null values in column 'Bathroom'

df['Bathroom'].isnull().sum()

8226

In [29]:
# Displaying first 20 values of attribute 'Bathroom'

print("Bathroom with NULL values")
df['Bathroom'].head(20)

Bathroom with NULL values

0     1.0
1     1.0
2     1.0
3     2.0
4     2.0
5     2.0
6     1.0
7     2.0
8     1.0
9     2.0
10    1.0
11    2.0
12    2.0
13    2.0
14    1.0
15    NaN
16    NaN
17    1.0
18    1.0
19    NaN
Name: Bathroom, dtype: float64

In [30]:
# Null values of Bathroom replaced by 1

df['Bathroom'].fillna(1, inplace= True)
print("Bathroom after replacing NULL values")
df['Bathroom'].head(20)

Bathroom after replacing NULL values

0     1.0
1     1.0
2     1.0
3     2.0
4     2.0
5     2.0
6     1.0
7     2.0
8     1.0
9     2.0
10    1.0
11    2.0
12    2.0
13    2.0
14    1.0
15    1.0
16    1.0
17    1.0
18    1.0
19    1.0
Name: Bathroom, dtype: float64

In [31]:
# Checking null values in column 'Car'

df['Car'].isnull().sum()

8728

In [32]:
# Displaying first 20 values of attribute 'Car'

print("Car with NULL values")
df['Car'].head(20)

Car with NULL values

0     1.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     2.0
7     2.0
8     2.0
9     1.0
10    0.0
11    0.0
12    1.0
13    0.0
14    2.0
15    NaN
16    NaN
17    1.0
18    2.0
19    NaN
Name: Car, dtype: float64

In [33]:
# Null values of Car replaced by 0

df['Car'].fillna(0, inplace= True)
print("Car after replacing NULL values")
df['Car'].head(20)

Car after replacing NULL values

0     1.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     2.0
7     2.0
8     2.0
9     1.0
10    0.0
11    0.0
12    1.0
13    0.0
14    2.0
15    0.0
16    0.0
17    1.0
18    2.0
19    0.0
Name: Car, dtype: float64

In [34]:
# Checking null values in column 'Landsize'

df['Landsize'].isna().sum()

11810

In [35]:
# Mean and Median values of column 'Landsize'

print(f"Median : {df['Landsize'].median()}")
print(f"Mean : {round(df['Landsize'].mean(),0)}")

Median : 521.0
Mean : 594.0

In [36]:
# Displaying first 20 values of attribute 'Car'

print("Landsize with NULL values")
df['Landsize'].head(20)

Landsize with NULL values

0      126.0
1      202.0
2      156.0
3        0.0
4      134.0
5       94.0
6      120.0
7      400.0
8      201.0
9      202.0
10     181.0
11     245.0
12    4292.0
13     230.0
14     256.0
15       NaN
16       NaN
17       0.0
18     220.0
19       NaN
Name: Landsize, dtype: float64

In [37]:
# All occurrences of missing_values are imputed by median Landsize

from sklearn.impute import SimpleImputer

land_imputer = SimpleImputer(missing_values = np.nan, strategy='median')

df[['Landsize']] = land_imputer.fit_transform(df[['Landsize']])
df['Landsize'].head(20)

0      126.0
1      202.0
2      156.0
3        0.0
4      134.0
5       94.0
6      120.0
7      400.0
8      201.0
9      202.0
10     181.0
11     245.0
12    4292.0
13     230.0
14     256.0
15     521.0
16     521.0
17       0.0
18     220.0
19     521.0
Name: Landsize, dtype: float64

In [38]:
# Checking NULL values in column BuildingArea

df['BuildingArea'].isna().sum()

21115

In [39]:
# Mean and Median of values in column 'BuildingArea'

print(f"Median : {df['BuildingArea'].median()}")
print(f"Mean : {round(df['BuildingArea'].mean())}")

Median : 136.0
Mean : 160

In [40]:
# Dosplaying first 20 values of attribute 'BuildingArea'

print("BuildingArea with NULL values")
df['BuildingArea'].head(20)

BuildingArea with NULL values

0       NaN
1       NaN
2      79.0
3       NaN
4     150.0
5       NaN
6     142.0
7     220.0
8       NaN
9       NaN
10      NaN
11    210.0
12     82.0
13    147.0
14    107.0
15      NaN
16      NaN
17      NaN
18     75.0
19      NaN
Name: BuildingArea, dtype: float64

In [41]:
# All occurrences of missing_values are imputed by mean building area

from sklearn.impute import SimpleImputer

area_imputer = SimpleImputer(missing_values = np.nan, strategy='mean')

df[['BuildingArea']] = land_imputer.fit_transform(df[['BuildingArea']])
df['BuildingArea'].head(20)

0     136.0
1     136.0
2      79.0
3     136.0
4     150.0
5     136.0
6     142.0
7     220.0
8     136.0
9     136.0
10    136.0
11    210.0
12     82.0
13    147.0
14    107.0
15    136.0
16    136.0
17    136.0
18     75.0
19    136.0
Name: BuildingArea, dtype: float64

In [42]:
# Mean and Median of values in column 'YearBuilt'

print(f"Median : {df['YearBuilt'].median()}")
print(f"Mean : {round(df['YearBuilt'].mean())}")

Median : 1970.0
Mean : 1965

In [43]:
# All occurrences of missing_values are imputed by mean YearBuilt

from sklearn.impute import SimpleImputer

year_imputer = SimpleImputer(missing_values = np.nan, strategy='mean')

df[['YearBuilt']] = land_imputer.fit_transform(df[['YearBuilt']])
df['YearBuilt'].head(20)

0     1970.0
1     1970.0
2     1900.0
3     1970.0
4     1900.0
5     1970.0
6     2014.0
7     2006.0
8     1900.0
9     1900.0
10    1970.0
11    1910.0
12    2009.0
13    1860.0
14    1890.0
15    1970.0
16    1970.0
17    1970.0
18    1900.0
19    1970.0
Name: YearBuilt, dtype: float64

In [44]:
# Displaying first 20 values of 'CouncilArea'

df['CouncilArea'].head(20)

0     Yarra City Council
1     Yarra City Council
2     Yarra City Council
3     Yarra City Council
4     Yarra City Council
5     Yarra City Council
6     Yarra City Council
7     Yarra City Council
8     Yarra City Council
9     Yarra City Council
10    Yarra City Council
11    Yarra City Council
12    Yarra City Council
13    Yarra City Council
14    Yarra City Council
15    Yarra City Council
16    Yarra City Council
17    Yarra City Council
18    Yarra City Council
19    Yarra City Council
Name: CouncilArea, dtype: object

### - bfill() :
It is used to backward fill the missing values in the dataset. <br/>
The missing values are replaced by values in next row of the same column

In [45]:
# Appying bfill for NULL values in attribute 'CouncilArea'

df['CouncilArea'].bfill(inplace=True)

In [46]:
df['CouncilArea']

0              Yarra City Council
1              Yarra City Council
2              Yarra City Council
3              Yarra City Council
4              Yarra City Council
                   ...
34852    Maribyrnong City Council
34853    Maribyrnong City Council
34854    Maribyrnong City Council
34855    Maribyrnong City Council
34856    Maribyrnong City Council
Name: CouncilArea, Length: 34857, dtype: object

In [47]:
# Checking NULL values in column 'CouncilArea' after bfill

df['CouncilArea'].isnull().sum()

0

In [48]:
# Checking NULL values in column 'Latitude'

df['Lattitude'].isnull().sum()

7976

In [49]:
# ffill: Forward fill (NULL values are replaced by corresponding value in the previous row)

df['Lattitude'].fillna(method = 'ffill' , inplace=True)

In [50]:
# Checking NULL values in column 'Lattitude' after ffill

df['Lattitude'].isnull().sum()

0

In [51]:
# Checking NULL values in column 'Longtitude'

df['Longtitude'].isnull().sum()

7976

In [52]:
# ffill: Forward fill (NULL values are replaced by corresponding value in the previous row)

df['Longtitude'].fillna(method = 'ffill' , inplace=True)

In [53]:
# Checking NULL values in column 'Lattitude' after ffill

df['Longtitude'].isnull().sum()

0

In [54]:
# Checking NULL values in column 'Regionname' 

df['Regionname'].isnull().sum()

3

In [55]:
# bfill: Backward fill (NULL values are replaced by corresponding value in the previous row)

df['Regionname'].bfill(inplace=True)

In [56]:
df['Regionname']

0        Northern Metropolitan
1        Northern Metropolitan
2        Northern Metropolitan
3        Northern Metropolitan
4        Northern Metropolitan
                 ...
34852     Western Metropolitan
34853     Western Metropolitan
34854     Western Metropolitan
34855     Western Metropolitan
34856     Western Metropolitan
Name: Regionname, Length: 34857, dtype: object

In [57]:
# Checking NULL values in column 'Regionname' after bfill

df['Regionname'].isnull().sum()

0

In [58]:
# Checking NULL values in column 'Propertycount'

df['Propertycount'].isnull().sum()

3

In [59]:
# value_counts() finds number of unique properties in each suburb

df['Propertycount'].value_counts()

21650.0    844
8870.0     722
10969.0    583
14949.0    552
10412.0    491
          ...
129.0        1
1588.0       1
5462.0       1
1160.0       1
342.0        1
Name: Propertycount, Length: 342, dtype: int64

In [60]:
# NULL values of attribute 'Propertycount' are replaced by ffill

df['Propertycount'].ffill(inplace=True)

In [61]:
# Checking NULL values in column 'Propertycount' after ffill

df['Propertycount'].isnull().sum()

0

### Now all NULL values of all attributes are replaced

### 4. For assurance let's check for any other NULL or Missing values in dataset

In [62]:
df.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64